.carousel {
  transform: translate3d(0, 0, 0);
  position: relative;
}
.carousel__items {
  position: relative;
  will-change: contents;
  overflow: hidden;
}
.carousel__items .item {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0;
  transition: all 200ms linear;
  will-change: z-index, opacity;
}
.carousel__items .item.active {
  z-index: 2;
  opacity: 1;
}
.carousel__controller {
  user-select: none;
}
.carousel__controller .progress {
  width: 100%;
  height: 5px;
  display: grid;
  grid-row: auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 5px;
  grid-auto-flow: column;
  border-radius: 0;
  background: none;
}
.carousel__controller .progress .item {
  background: #eee;
}
.carousel__controller .progress .item.transition div {
  transition: width 240ms ease;
}
.carousel__controller .progress .item div {
  height: 100%;
  width: 0%;
  background: #ffc541;
  will-change: width;
}
.carousel__controller .prev,
.carousel__controller .next,
.carousel__controller .play,
.carousel__controller .pause,
.carousel__controller .stop {
  cursor: pointer;
}
