$carousel-color-primary: #ffc541 !default;
$carousel-color-shade: #eeeeee !default;

.carousel {
  user-select: none;
  transform: translate3d(0, 0, 0);
  position: relative;
}

.carousel__items {
  position: relative;
  will-change: contents;
  overflow: hidden;

  .item {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0;
    transition: all 200ms linear;
    will-change: z-index, opacity;

    &.active {
      z-index: 2;
      opacity: 1;
    }
  }
}

.carousel__controller {
  .progress {
    width: 100%;
    height: 5px;
    display: grid;
    grid-area: progress;
    grid-row: auto;
    grid-auto-columns: 1fr;
    grid-column-gap: 5px;
    grid-auto-flow: column;
    border-radius: 0;
    background: none;

    .item {
      background: $carousel-color-shade;

      &.transition div {
        transition: width 240ms ease;
      }

      div {
        height: 100%;
        width: 0%;
        background: $carousel-color-primary;
        will-change: width;
      }
    }
  }

  .prev,
  .next,
  .play,
  .pause,
  .stop {
    cursor: pointer;
  }
}
